{% extends 'layout2.html' %}
    {%from "_macros.html" import input_Form%}
{%block content%}
            <form name="registro" action="/pizzas" id="registro" method="POST">
            <div class="container" style="background-color:lightskyblue">
                <div class="row">
                    <div class="col mt-3">
                        {{input_Form(form.nombre,class="form-control")}}
                    </div>
                    <div class="col mt-3">
                        {{input_Form(form.direccion,class="form-control")}}
                    </div>
                    <div class="col mt-3">
                        {{input_Form(form.telefono,class="form-control")}}
                    </div>
                </div>
                <div class="row">
                    <div class="col">
                        {{input_Form(form.tamanioPizza,class="form-")}}
                    </div>
                    <div class="col">
                        {{input_Form(form.jamon,class="form-check-input")}}
                        {{input_Form(form.pina,class="form-check-input")}}
                        {{input_Form(form.champinion,class="form-check-input")}}
                    </div>
                    <div class="col mb-3">
                        {{input_Form(form.numPizzas,class="form-control")}}
                        {{input_Form(form.fecha_venta,class="form-control")}}
                        <input type="submit" id="registrar" class="btn btn-light" name="registrar" value="Registrar"/>
                    </div>
                </div>
            </div>
            <div class="container mt-4" style="background-color: lightskyblue;">
                <div class="row">
                    <div class="col mt-3 mb-3">  
                        <table class="table table-bordered">
                            <tr>
                                <th>Tamaño</th>
                                <th>Ingredientes</th>
                                <th>Número de Pizzas</th>
                                <th>Subtotal</th>
                                <th>Eliminar</th>
                            </tr>
                            {% for pedido in p %}
                            <tr>
                                <td>{{ pedido['Tamanio'] }}</td>
                                <td>{{ pedido['Ingredientes'] }}</td>
                                <td>{{ pedido['Numero de Pizzas'] }}</td>
                                <td>{{ pedido['Subtotal'] }}</td>
                                <td><input type="submit" id="eliminar" class="btn btn-danger" name="eliminar" value="{{ pedido['id'] }}"/> </td>                        
                            </tr>
                            {% endfor %}
                        </table>
                        <input type="button"  onclick="openModal()" class="btn btn-success" value="Realizar compra"/>
                    </div>
                    <div class="col mt-3">
                        <div class="container" style="background-color: lightgray;">
                        <div id="myModal" style="display: none; border: 1px solid black; padding: 20px; position: fixed; top: 50%; left: 50%; transform: translate(-50%, -50%); background-color: white; z-index: 1;">
                            <span onclick="closeModal('myModal')" style="position: absolute; top: 5px; right: 10px; cursor: pointer;">Cerrar</span>
                            <h2>Estas seguro de realizar la compra</h2>
                            <h3>Total a pagar: ${{total}}</h3>
                            <input type="submit" id="insertar" class="btn btn-success    " name="insertar" value="Confirmar compra"/>
                            <input type="button"  onclick="closeModal('myModal')" class="btn btn-danger" value="Cancelar compra"/>
                        </div>
                        <div class="row control-group">
                            <div class="form-group col-xs-12 float-label-form-group controls">
                                {{input_Form(form.buscar,class="form-control")}}
                            </div>
                        </div>
                        <input type="submit" id="obtenerTotalMes" class="btn btn-warning" name="obtenerTotalMes" value="Obten total del mes"/>
                        <input type="submit" id="obtenerTotalDia" class="btn btn-warning" name="obtenerTotalDia" value="Obten total del día"/>
                        <input type="hidden" name="csrf_token" value="{{csrf_token()}}"/>
                        {% for user in usuarios %}
                            <h1>{{user}}</h1>
                        {% endfor %}
                        
                        <h2>Ventas totales del dia:  ${{total_dia}}</h2>
                        <h2>Ventas totales del mes: ${{total_mes}}</h2>
                    </div>
                </div>
                </div>
            </div>
        </form>
    <script>
        function openModal() {
            document.getElementById("myModal").style.display = "block";
        }
    
        function closeModal() {
            document.getElementById("myModal").style.display = "none";
        }
    </script>
{%endblock%}
